* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;

}


* ::-webkit-scrollbar {
  width: 0;
}

/* body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
} */


body::-webkit-scrollbar {
  width: 0;
}

.containermain {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  /* border-bottom: 1px solid #ccc; */
}

.message-container {
  width: 100%;
}

.chatgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.user-message,
.bot-message {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: fit-content;
  font-size: 16px;
  line-height: 20px;
  min-width: 100px;
  overflow-wrap: break-word;
}



.user-message {
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}




.bot-message {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px 20px 30px 20px;
}


.bot-message {
  position: relative;
}

.bot-message .speechbutton {
  position: absolute;
  bottom: 8px;
  right: 14px;
  padding: 4px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;

  border: none;
  background-color: transparent;
  color: black;

}


.dark-mode .bot-message .speechbutton {
  /* background-color: rgba(119, 119, 119, 0.3); */
  color: #d1cfcf;
}



.msgfrm {
  display: flex;
  width: 96%;
  position: fixed;
  bottom: 15px;
  gap: 5px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(51, 51, 51, 0.1);
  max-width: 1000px;
  border-radius: 24px;
  align-items: flex-end;
}

.msgfrm #queryinput {
  flex: 1;
  padding: 8px 15px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 17px;
  outline: none;
  height: 100%;
  resize: none;
}




.msgfrm button {
  position: absolute;
  right: 4px;
  bottom: 4.5px;
  padding: 24px;
  border: none;
  border-radius: 24px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  height: 100%;
  max-height: 25px;
  max-width: 25px;

  transform: 'translate(-50%, -50%)';
  justify-content: center;
  align-items: center;
  display: flex;
}


.msgfrm button:hover {
  background-color: #0056b3;
}

.txt {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* font-size: 14px; */
  color: #333;
}

.txt h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
}

.txt h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
}

.txt h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 10px;
}

.txt p {
  margin-top: 0;
  margin-bottom: 16px;
}

.txt ul,
.txt ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 20px;
}

.txt li {
  margin-bottom: 4px;
}

.txt a {
  color: #007bff;
  text-decoration: underline;
}

.txt code,
.txt pre {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 13px;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;

  overflow-x: auto;
  color: black;
  overflow: auto;



}

pre {
  border: 1px solid rgba(128, 128, 128, 0.5);

}


code::-webkit-scrollbar {
  width: 0;
}

pre::-webkit-scrollbar {
  width: 0;
}

.txt pre {
  white-space: pre-wrap;
  text-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 16px;
}

.txt blockquote {
  margin: 0;
  margin-left: 20px;
  padding: 0 16px;
  border-left: 4px solid #007bff;
}

.txt img {
  max-width: 100%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.txt hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 24px;
  margin-bottom: 24px;
}


.dark-mode {
  /* background-color: #1f1f1f; */
  background-color: #181818;
  color: #f4f4f4;
}

/* .dark-mode .chat-container {
  border-bottom: 1px solid #333;
} */

.dark-mode .user-message {
  background-color: transparent;
}

.dark-mode .bot-message {
  background-color: #3333334d;
}

.dark-mode .msgfrm {
  background-color: #222;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.dark-mode .msgfrm #queryinput {
  border: 1px solid rgba(68, 68, 68, 1);
  background-color: rgba(68, 68, 68, 0.4);
  color: #f4f4f4;
}

.dark-mode .txt h1,
.dark-mode .txt h2,
.dark-mode .txt h3 {
  color: #fff;
}

.dark-mode .txt p,
.dark-mode .txt ul,
.dark-mode .txt ol,
.dark-mode .txt li,
.dark-mode .txt a,
.dark-mode .txt blockquote,
.dark-mode .txt img,
.dark-mode .txt table *,
.dark-mode .txt hr {
  color: #eee;
}

table {
  border-collapse: collapse;
  border: 1px solid rgba(68, 68, 68, 0.2);
  border-radius: 8px;

  display: block;
  overflow: auto;
}

th,
td {
  padding: 5px;
  text-align: left;
  border: 1px solid rgba(68, 68, 68, 0.2);
  border-radius: 8px;
}

.dark-mode table {
  border: 1px solid rgba(238, 238, 238, 0.4);
}

.dark-mode th,
.dark-mode td {
  border: 1px solid rgba(238, 238, 238, 0.6);
}



.dark-mode .txt a {
  color: #4ec3ff;
}

.dark-mode .txt code,
.dark-mode .txt pre {
  background-color: #333;
  color: #fff;
}

.dark-mode .txt blockquote {
  border-left: 4px solid #4ec3ff;
}

.dark-mode .txt hr {
  border-top: 1px solid #666;
}


/* chatstyle.css */

.CopyButton {
  padding: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 8px;
  right: 45px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.dark-mode .CopyButton {
  color: #d1cfcf;

}