#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    transition: top 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    color: black;
    font-size: 12px;
}


.installbutton{
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
}


.dark-mode #header {
    background-color: #1f1f1f; 
    color: #f4f4f4;
}

.dark-mode #header .installbutton {
    background-color: #007bff; 
    color: white;
}